In [2]:
!pip install kaggle
import kaggle

Requirement already satisfied: kaggle in c:\users\asus\anaconda3\lib\site-packages (1.7.4.5)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (65.6.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (1.26.14)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (3.4)
Requirement already satisfied: python-slugify in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: charset-normalizer in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: webencodings in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: protobuf in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (4.23.3)
Requirement already satisfied: certifi>=14.05.14 in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (2022.12.7)
Requirement already satisfied: requests in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: text-unidecode in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: bleach in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: six>=1.10 in c:\users\asus\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: packaging in c:\users\asus\anaconda3\lib\site-packages (from bleach->kaggle) (22.0)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [6]:
#downloading the dataset frfom kaggle api
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv --force

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv to C:\Users\ASUS\Desktop\Data Science\Ankit Bansal_SQL&ETL

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<?, ?B/s]

In [121]:
#extracting the files from zip file
import zipfile
zipfile = zipfile.ZipFile('archive (1).zip')
zipfile.extractall()
zipfile.close()

In [122]:
#reading the dataset
orders = pd.read_csv('orders.csv')
orders.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [123]:
#handel the null values from Ship Mode
orders['Ship Mode'].unique()
#since 'Not Availiable','unknown' has the same meaning we will consider it as null
orders = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
orders['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [124]:
#rename all column names make them lowercase and replace the space with underscore
orders.columns = orders.columns.str.replace(' ','_').str.lower()
orders.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [126]:
#derive new columns named discouts, sales and profit
orders['discount_price'] = orders['list_price']*orders['discount_percent']*0.01
orders['selling_price'] = orders['list_price']-orders['discount_price']
orders['sales'] = orders['selling_price']*orders['quantity']
orders['profit'] = orders['selling_price']-orders['cost_price']
#dropping columns cost_price,list_price,discount_percent
orders.drop(['cost_price','list_price','discount_percent'],axis=1, inplace=True)
orders

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount_price,selling_price,sales,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,509.6,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,2124.3,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,19.0,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,4704.0,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,38.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,86.4,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,172.8,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,509.6,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,116.4,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,465.6,22.8

In [133]:
#Convert order date column into date from object
orders['order_date'] = pd.to_datetime(orders['order_date'])
orders['order_date'].dtype

dtype('<M8[ns]')

In [139]:
#Load data into sql server usingreplace option
import sqlalchemy as sal
eng = sal.create_engine('mssql://LAPTOP-HTDMD154\MITESH/ankitbansal?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=eng.connect()

In [143]:
orders.to_sql('orders_etl',con=conn,if_exists='replace',index=False)

-1